:root {
  --blue: #2196F3;
  --black: #000000;
  --white: #FFFFFF;
  --not-white: #f5f4fa;
  --grey-dark: #2F303A;
  --font-color-main: #212121;
  --font-color-second: #757575;
  --background-color-main: #FFFFFF;
  --background-color-secondary: #2F303A;
  --hover-color: #2196F3;
  --figure-border: #EEEEEE;
  --fotter-links: #ffffff99;
  --icon-grey: #AFB1B8;
}

.class-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.class-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.class-h3 {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.class-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.contact-links-txt {
  color: var(--font-color-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0 auto;
}

::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  background-color: var(--background-color-main);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-not-white {
  background-color: var(--not-white);
  padding-bottom: 94px;
  padding-top: 94px;
}

.block__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-main);
  background-color: var(--background-color-main);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.justify-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 100%;
  background-color: var(--background-color-main);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-not-white {
  background-color: var(--not-white);
  padding-bottom: 94px;
  padding-top: 94px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  -webkit-transition: opacity 1500ms ease-in-out, visibility 1500ms ease-in-out;
  transition: opacity 1500ms ease-in-out, visibility 1500ms ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}
.backdrop--is-hiddden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 93px;
}

.logo__links {
  color: var(--blue);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__links--dark {
  color: var(--black);
}

.logo__links--white {
  color: var(--white);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: justify;
  gap: 46px;
}

.nav__item {
  text-decoration: none;
}

.nav__links {
  color: var(--font-color-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav__links:hover, .nav__links:focus {
  color: var(--hover-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__links--active {
  position: relative;
  color: var(--blue);
}
.nav__links--active::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -33px;
  left: 0px;
  border-bottom: 4px solid var(--hover-color);
  border-radius: 2px;
  margin-bottom: 0;
}

.contact > a:nth-child(1) {
  margin-right: 50px;
}

.contact__links {
  color: var(--font-color-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact__links__links:hover, .contact__links__links:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contact__icon {
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.order-section {
  background-color: var(--background-color-secondary);
}

.order-section__background-image {
  margin: auto;
  max-width: 1600px;
  background-color: var(--background-color-secondary);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(https://raw.githubusercontent.com/MariuszR87/goit-markup-hw-04/master/images/backgroundimage.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(https://raw.githubusercontent.com/MariuszR87/goit-markup-hw-04/master/images/backgroundimage.jpg);
  background-size: cover;
  padding: 200px;
}

.order-section__container {
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}

.order-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0 auto;
  width: 696px;
}

.order-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
  border-style: none;
  padding: 10px 42px;
}
.order-section__button:hover, .order-section__button:focus {
  cursor: pointer;
  background-color: darkcyan;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.feature__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.feature__image {
  background-color: var(--not-white);
}

.feature__tittle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 10px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-second);
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.services__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.services__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.services__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.services__description {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  color: var(--white);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
}

.team {
  background-color: var(--not-white);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.team__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.team__figure {
  background-color: var(--background-color-main);
  border: 1px solid var(--figure-border);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  padding-right: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 270px;
}

.team__figcaption {
  padding: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__figure--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-second);
}

.social-media__tittle {
  color: var(--white);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 15px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.social-media__links {
  text-decoration: none;
  cursor: pointer;
}

.social-media__icon {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--icon-grey);
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.social-media__icon:hover, .social-media__icon:focus {
  background-color: var(--hover-color);
  fill: var(--white);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__icon--dark {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.social-media__icon--dark:hover, .social-media__icon--dark:focus {
  background-color: var(--hover-color);
  fill: var(--white);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.customers__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.customers__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customers__item {
  height: 92px;
}
.customers__item:hover, .customers__item:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
  cursor: pointer;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__scg {
  fill: var(--icon-grey);
  cursor: pointer;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
}
.customers__scg:hover, .customers__scg:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
  cursor: pointer;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.footer__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__adress {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__adress-links {
  text-decoration: none;
  color: var(--fotter-links);
  margin-top: 9px;
}
.footer__adress-links:hover, .footer__adress-links:focus {
  color: var(--hover-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.footer-newsletter__tittles {
  color: var(--white);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  width: 358px;
  height: 50px;
  margin: 15px 16px 0px 0px;
  color: var(--not-white);
  padding: 15px 16px 15px 16px;
}

.footer-newsletter__submit-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white);
  margin-top: 32px;
  border: none;
}
.footer-newsletter__submit-button:hover, .footer-newsletter__submit-button:focus {
  cursor: pointer;
  background-color: darkcyan;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter__icon-on-button {
  margin: 13px 0px 13px 22px;
  fill: var(--white);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  cursor: auto;
  display: block;
}

.modal__close-button {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 2;
}
.modal__close-button:focus, .modal__close-button:hover {
  color: var(--black);
  font-weight: bold;
  border-color: #000000;
  background-color: rgb(204, 198, 198);
  -webkit-transition-property: background-color, color, border-color, font-weight;
  transition-property: background-color, color, border-color, font-weight;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  position: relative;
  margin: 0 auto;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.modal__form-title {
  margin-bottom: 12px;
}

.modal__sectors {
  position: relative;
  margin-top: 12px;
  margin-bottom: 10px;
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-color-second);
}

.modal__input {
  margin-bottom: 10px;
  padding: 12px;
  border: Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  margin-top: 4px;
}

.modal__input--textarea {
  resize: none;
  width: 200px;
  height: 200px;
  margin: 4px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  height: 120px;
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 12px;
  border: Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__label:hover,
.modal__label:focus-within,
.modal__input:hover,
.modal__input:focus-within,
.modal__input--textarea:focus-within,
.modal__input--textarea:hover {
  border-color: var(--blue);
  fill: var(--blue);
  outline-color: var(--blue);
  -webkit-transition-property: border-color, fill, outline-color;
  transition-property: border-color, fill, outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icons {
  position: absolute;
  top: 32px;
  left: 10px;
}

.modal__checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  display: none;
}

.modal__checkbox-label {
  cursor: pointer;
  position: relative;
  margin-top: 0px;
  margin-left: 50px;
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__checkbox-label::before {
  display: block;
  position: absolute;
  left: -34px;
  top: 0px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-color: #FFFFFF;
  z-index: 2;
}

.modal__checkbox:checked + .modal__checkbox-label::before {
  border: none;
  background-color: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-links:focus, .modal__checkbox-links:hover {
  color: #2196F3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icons-agree {
  position: absolute;
  top: 4px;
  left: 16px;
  z-index: 0;
  border-radius: 3px;
}

.modal__submit-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 30px auto;
  padding: 10px 76px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__submit-button:hover, .modal__submit-button:focus {
  cursor: pointer;
  background-color: darkcyan;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.portfolio__button-list {
  padding: 0px 0px 50px 0px;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.portfolio__button {
  padding: 6px 22px 6px 22px;
  background-color: var(--not-white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio__button:hover,
.portfolio__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--hover-color);
  color: var(--white);
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  max-width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio__list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.portfolio__list-item:hover .portfolio__moving-overlay {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__list-item:hover, .portfolio__list-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__figure {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 370px;
  cursor: pointer;
}

.portfolio__figcaption {
  padding: 20px 24px;
  margin-top: 0;
  border-right: 1px solid var(--figure-border);
  border-bottom: 1px solid var(--figure-border);
  border-left: 1px solid var(--figure-border);
}

.portfolio__overlay-box {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.portfolio__moving-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.portfolio__moving-overlay--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: var(--white);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--font-color-second);
}/*# sourceMappingURL=main.css.map */