@use "./utils/variables";

@use "./base/common";
@use "./base/continer-and-section";

@use "./component/backdrop";
@use "./component/header";
@use "./component/logo";
@use "./component/navigation";
@use "./component/contact";
@use "./component/order-section";
@use "./component/feature";
@use "./component/services";
@use "./component/team";
@use "./component/social-media";
@use "./component/customers";
@use "./component/footer";
@use "./component/footernewsletter";
@use "./component/modal";
@use "./component/portfolio";




