@use '../utils/mixin' as mixin;

.contact > a:nth-child(1){
  margin-right: 50px;
}
.contact__links {
  color: var(--font-color-second);
  @include mixin.xcontact-links;
  text-decoration: none;

    
    &:hover,
    &:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
    transition-property: color, fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    }
}

.contact__icon{
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.contact{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .contact{
    display: flex;
    list-style-type: none;
    gap: 10px;
    text-align: left;
    flex-direction: column; 
  }
  .contact > a:nth-child(1){
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px){
  .contact{
    display: flex;
    list-style-type: none;
    gap: 10px;
    text-align: left;
    flex-direction: inline; 
  }
}

  
 