@use '../utils/mixin' as mixin;

.customers {
  @include mixin.xsection;
}
.customers__container {
  @include mixin.xcontainer;
}

.customers__tittle {
  @include mixin.xclass-h2;
  margin-top: 0;
  margin-bottom: 50px;
}
.customers__list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.customers__item {
  height: 92px;

    &:hover,
    &:focus {
      fill: var(--hover-color);
      border-color: var(--hover-color);
      cursor: pointer;
      transition-property: fill, border-color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.customers__scg {
  fill: var(--icon-grey);
  cursor: pointer;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  
    &:hover,
    &:focus {
      fill: var(--hover-color);
      border-color: var(--hover-color);
      cursor: pointer;
      transition-property: fill, border-color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
