@use '../utils/mixin' as mixin;


.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__container{
    @include mixin.xcontainer;
  }
  .footer__setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__adress{
    @include mixin.xfooter__adress;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--white);
  }
  .footer__adress-links{
    text-decoration: none;
    color: var(--fotter-links);
    margin-top: 9px;

      &:hover,
      &:focus {
      color: var(--hover-color);
      transition-property: color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
  }
 