.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 0;
  }
  .footer__setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__adress{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer__adress-links{
    text-decoration: none;
    color: var(--fotter-links);
    margin-top: 9px;

      &:hover,
      &:focus {
      color: var(--hover-color);
      transition-property: color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
  }
 