@use '../utils/mixin' as mixin;


.header{
  border-bottom: 1px solid #ECECEC;
 }
.header__container {
  @include mixin.xcontainer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}