@use '../utils/mixin' as mixin;


.header{
  border-bottom: 1px solid #ECECEC;
 }

.header__container {
  @include mixin.xcontainer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-button {
  display: flex;
    border: none;
    background: none;
}
.header__menu-styles{
  fill: var(--darkgrey);
  border: 1px solid black;
  cursor: pointer;
   
    &:hover,
    &:focus {
      fill: var(--blue);
    }
}

.header__menu-button {
  display: flex;
    border: none;
    background: none;
    margin:10px 15px;
}

@media screen and (min-width: 767px) {
  .header__menu-button {
    display: none;
      border: none;
      background: none;
  }
}