@use '../utils/mixin' as mixin;


.logo{
  margin-right: 93px;
}
.logo__links{
  color: var(--blue);
  text-decoration: none;

  @include mixin.xlogo;
}
.logo__links--dark{
  color: var(--black);
}

.logo__links--white{
  color: var(--white);
}