@use '../utils/mixin' as mixin;

.order-section {
  background-color: var(--background-color-secondary);
}
.order-section__background-image {
  margin: auto;
  max-width: 1600px;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(https://raw.githubusercontent.com/MariuszR87/goit-markup-hw-04/master/images/backgroundimage.jpg);
  background-size: cover;
  padding: 200px;
  
}
.order-section__container {
  text-align: center;
  
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}
.order-section__title {
  @include mixin.xclass-h1;
  
  width: 696px;
  margin: 0 auto;
  color: #FFFFFF;
}
.order-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
  border-style: none;
  padding: 10px 42px;

    &:hover, &:focus{
      cursor: pointer;
      background-color: darkcyan;
      transition-property: background-color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

 