@use '../utils/mixin' as mixin;

.order-section {
  background-color: var(--background-color-secondary);
}
// .order-section__background-image {
//   margin: auto;
//   max-width: 1600px;
//   background-color: var(--background-color-secondary);
//   background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(https://raw.githubusercontent.com/MariuszR87/goit-markup-hw-04/master/images/backgroundimage.jpg);
//   background-size: cover;
//   padding: 200px;
// }

.order-section__button {
  @include mixin.xbutton;
  
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
  border-style: none;
  padding: 10px 42px;

    &:hover, &:focus{
      cursor: pointer;
      background-color: darkcyan;
      transition-property: background-color;
      transition-duration:  250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px){
.order-section__background-image {
  margin: auto auto;
  width: 100%;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(/images/background480@x2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 480px 400px;
  padding: 118px auto;
}
.order-section__container {
  text-align: center;
  width: 100%;
  // margin: 0 auto;
}
.order-section__title {
  @include mixin.xclass-h1-mobile;
  
  // width: 696px;
  // margin: 0 auto;
  color: #FFFFFF;
}

}


@media screen and (min-width: 320px) and (max-width: 767px) {
.order-section__background-image {
  margin: auto;
  width: 100%;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(/images/backround480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 480px 400px;
  // padding: 10px;
}
.order-section__container {
  text-align: center;
  width: 100%;
  // margin: 0 auto;
  // display: none;
}
.order-section__title {
  @include mixin.xclass-h1-mobile;
  
  // width: 696px;
  // margin: 0 auto;
  color: #FFFFFF;
}

}



// .order-section__container {
//   text-align: center;
  
//   height: 600px;
//   max-width: 1600px;
//   margin: 0 auto;
// }


// .order-section__title {
//   @include mixin.xclass-h1;
  
//   width: 696px;
//   margin: 0 auto;
//   color: #FFFFFF;
// }


 