@use '../utils/mixin' as mixin;

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.services__container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}
.services__tittle{
  @include mixin.xclass-h2;
  margin-top: 0;
  margin-bottom: 50px;
}
.services__list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.services__item {
  box-sizing: border-box;
  flex-basis: calc((100% - 2 * 30px) / 3);
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}
.services__description {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  color: var(--white);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
}