@use '../utils/mixin' as mixin;

.social-media__tittle {
  color: var(--white);
  @include mixin.xclass-h3;
  margin-bottom: 15px;
}
.social-media{
  display: flex;
  justify-content: center;
  margin-top:15px;
}
.social-media__links{
text-decoration: none;
cursor: pointer;
}
.social-media__icon {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--icon-grey);
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  justify-content: center;
  align-content: center;

    &:hover,
    &:focus {
    background-color: var(--hover-color);
    fill: var(--white);
    transition-property: background-color, fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.social-media__icon--dark{
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  justify-content: center;
  align-content: center;

 
    &:hover,
    &:focus {
    background-color: var(--hover-color);
    fill: var(--white);
    transition-property: background-color, fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

  