@use '../utils/mixin' as mixin;

.team{
  background-color: var(--not-white);
  @include mixin.xsection;
}
.team__container{
  @include mixin.xcontainer;
}
.team__tittle{
  @include mixin.xclass-h2;
  margin-top: 0;
  margin-bottom: 50px;
}
.team__list{
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
}
.team__figure {
  background-color: var(--background-color-main);
  border: 1px solid var(--figure-border);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  padding-right: 0;
  margin-right: 0;
  box-sizing: border-box;
  max-width: 270px;
}
.team__figcaption{
  padding: auto auto;
  align-items: center;
  justify-content: center;
}
.team__name {
  @include mixin.xclass-h4;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__figure--text {
  @include mixin.xteam__figure--text;
  color:var(--font-color-second);
  text-align: center;
} 
  