// @use '../utils/mixin' as mixin;
// @include mixin.xsection;
// @include mixin.xcontainer;
// @include mixin.xclass-h1;


@mixin xclass-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
  }
  @mixin xclass-h1-mobile {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
  }


  @mixin xclass-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @mixin xclass-h3 {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
  }
  @mixin xclass-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    // text-align: left;
    letter-spacing: 0.03em;
  }
  @mixin xlogo {
    font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  }

@mixin xcontact-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

@mixin xfeature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-second)
}
@mixin xfooter__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@mixin xmodal__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
@mixin xbutton {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}
@mixin xportfolio-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
@mixin xportfolio__moving-overlay--text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

@mixin xportfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@mixin xportfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@mixin xteam__figure--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@mixin xsection {
  padding-top: 94px;
  padding-bottom: 94px;
}

@mixin xcontainer{
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0;
}
@media screen and (min-width: 768px){
  xsection {
  padding-top: 60px;
  padding-bottom: 60px;}}

  @media screen and (min-width: 1200px){
  xsection {
  padding-top: 94px;
  padding-bottom: 94px;
  }}

@media screen and (min-width:480px) {
  xcontainer {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  }

@media screen and (min-width:768px) {
  xcontainer {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

}
@media screen and (min-width:1200px) {
  xcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  }


